@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    background: #FAFAFA;
    /* width: 100%; */
}
.But {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50rem;
    padding: 10px;
}
button {
    font-size: 1.5rem;
    border: 1px solid green;
    border-radius: 20%;
    padding: 5px;
    margin: 5px;
    color: aliceblue;
    background: rgb(4, 92, 4);
}
footer {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 8rem;  
    margin-left: 10rem; 
}
h2 {
    font-size: 1.5rem;
    margin-top: 6rem;
    position: relative;
    top: 10px;
    left: -12%;
}

@media screen and (min-width: 480px) {
    .Nav {
        background: black;
    }
}
